:coffee
  module.exports = {
    props: ['login']
    data: -> {
      mode: false
    }
    computed: {
      idLoginBtn: -> "app-login-" + @uniqId
    }
    methods: {
      toggleMode: ->
        @mode = !@mode

      logOut: ->
        $.ajax {
          url: $Route.logout
          method: 'POST'
        }
        .done (data) =>
          if data.success
            location.reload()
    }
  }

%template
  %b-navbar-nav.ml-auto
    %div{'v-if': 'login'}
      %b-input-group
        %b-input-group-prepend(is-text)
          Logged in:
        %b-input-group-append
          %b-dropdown(variant="secondary" right){':text': 'login.name'}
            %b-dropdown-item{':href': '$Route.profile'} Profile
            %b-dropdown-item{':href': '$Route.settings'} Settings
            %b-dropdown-divider
            %b-dropdown-item{'@click': 'logOut'} Log Out
    %div{'v-else': true}
      %b-nav-form{'v-show': 'mode'}
        %b-input-group
          %b-form-input(type="text" placeholder="Access token…")
          %b-input-group-append
            %b-button(variant="outline-success") Enter
            %b-button(variant="outline-secondary"){'@click': 'toggleMode'}
              %i.fa.fa-user
              %span User
      %b-button-group.ml-sm-0{'v-show': '!mode'}
        %b-button(variant="outline-success"){':id': 'idLoginBtn'} Log In
        %b-button(href="#" variant="outline-secondary") Register
        %b-button(variant="outline-secondary"){'@click': 'toggleMode'}
          %i.fa.fa-key
          %span Token
      %app-popup-login{':target': 'idLoginBtn'}
