.profile-cards > .card,
.profile-info > .input-group {
  margin-bottom 0.5rem;

  &:last-child {
    margin-bottom 0;
  }
}

.permission-name {
  font-family Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.permission-list {
  @extend .permission-name;
  padding 0.5rem 0.5rem;

  .button {
    margin -0.2rem 0;
  }
}

.form-label {
  font-weight bold;
}